html, body {
  height: 100%;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #a76e58;
}

nav {
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body {
  background: url(../images/overlooking-providence-greyed.png) no-repeat center center fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color: #FFF;
}

.about {
  height: 640px;
  background-color: black;
  width: 100%;
}

.intro {
  height: 640px;
}
/* Wide */
@media screen and (min-width: 961px) {

  .intro {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    margin-left: 5%;
  }

  nav { 
    margin-left: 10%; 
    font-size: 1.5vw;
  }

  nav img {
    width: 100px;
  }

  nav a {
    display: block;
    padding: 10px 0;
  }

  nav a:first-child {
    padding-top: 130px;
  }

  h1 { 
    font-size: 10vw;
    text-align: center;
    width: 100%;
    margin-top: 12%;
  }

  h3 { 
    text-align: center; 
    font-weight: 500;
  }
}


/* Medium */
@media screen and (min-width: 451px) and (max-width: 960px) {
  header {
    text-align: center;
  }

  h1 { 
    font-size: 11vw; 
    margin-top: 25%;
  }
  h3 { 
    margin-top: -25%; 
    margin-bottom: 35%;
    font-weight: 400;
    letter-spacing: 1px;
  }

  nav {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
  }

  nav img {
    width: 80px;
  }
}


/* Narrow */
@media screen and (max-width: 450px) {
  header {
    text-align: center;
  }

  h1 { font-size: 12vw; }

  article {
    display: -webkit-flex;
    -webkit-align-items: start;
  }

  article:nth-child(odd) {
    -webkit-flex-direction: row;
  }
  article:nth-child(even){
    -webkit-flex-direction: row-reverse;
  }

  .intro {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: center;
  }

  nav {
    -webkit-order: 999;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    self-align: flex-start;
    font-size: 90%;
  }

  nav img {
    width: 75px;
    margin-top: -5px;
  }

  h3 { 
    font-weight: 400; 
    margin-bottom: 45%; 
    letter-spacing: 1px; 
    padding-left: 2%; 
    padding-right: 2%;
  }
}